<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Account name</label>
          <p class="form-control-static">{{ details?.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">First Name</label>
          <p class="form-control-static">{{ details?.firstname }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Last Name</label>
          <p class="form-control-static">{{ details?.lastname }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Phone</label>
          <p class="form-control-static">{{ details?.phone }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Address</label>
          <p class="form-control-static">{{ details?.address }}</p>
        </div>
        <button type="submit" class="btn btn-primary" (click)="logout()">logout</button> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
        <button class="btn btn-primary" routerLink="/edit">edit</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
        <button type="submit" class="btn btn-primary" (click)="delete()">delete</button>        
      </div>

    </div>

  </div>
</div>

