a{
  color: #ffffff !important;
}
.nav-bg {
  font-size: 15px;
  background-color: #3B5998
}

.pagination{
  background-color: #DFE3EE  !important;
  padding-top: 10px;
  padding-bottom: 30px;
}

a.nav-link{
  font-weight: 200;
}

a.navbar-brand{
  font-weight: 600;
  color: chartreuse !important;
  font-size: 25px;
}

a.page-link{
  border: 1px solid #000000;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  align-items: center;
  color: #000000 !important;
}

.page-link{
  display: block;
  height: 40px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}