<div class="container my-2 mx-auto">
    <div class="row">
      <div *ngFor="let author of authors" class="col-md-4 box-shadow my-1">
        <div class="card text-center">
            <div class="card-body">
                <img style="width: 200px; height: 300px" src="{{author.cover}}" class="card-img-top">
                <span class="card-text">
                  <h3>
                    {{author.name}} {{author.surname}}
                  </h3>
                  <h4>
                    Data urodzin:  {{author.dateOfBirth | date}}
                  </h4>
                  <h4>
                    Data smierci:  &nbsp;{{author.dateOfDeath | date}}
                  </h4>
                </span>
              </div>
          </div>
          
        </div>
      
      </div> 
    </div>