<div class="container my-3">
  <div class="form">
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Tytu książki:</label>
      <div class="col-10">
        <input class="form-control" type="text" id="example-text-input" [(ngModel)] = "book.title">
      </div>
    </div>


    <div class="form-group row">
      <label for="example-number-input" class="col-2 col-form-label" >ISBN:</label>
      <div class="col-10">
        <ng-template #popContent>Podany ISBN nie zawiera 10|13 cyfr lub inna książka już taki posiada</ng-template>
        <input class="form-control" type="number"  [ngbPopover]="popContent"
        triggers="manual" #p1="ngbPopover" (focusout)="validateISBN(p1)"
        [ngClass]="{ 'error' : !valid.isbn}"
        id="example-number-input" [(ngModel)] = "book.isbn">
      </div>
    </div>

    <div class="form-group row">
        <label for="typeahead-focus" class="col-2 col-form-label">Gatunek:</label>
        <div class="col-10">
          <input  id="typeahead-focus"
                  type="text"
                  class="form-control"
                  [(ngModel)]="book.genre"
                  [ngbTypeahead]="searchGenre"
                  (focus)="focusGenre$.next($event.target.value)"
                  (click)="clickGenre$.next($event.target.value)"
                  #instance="ngbTypeahead"
                />
        </div>
      </div>

    <div class="form-group row">
      <label for="typeahead-focus" class="col-2 col-form-label">Autor:</label>
      <div class="col-10">
        <input  id="typeahead-focus2"
                type="text"
                class="form-control"
                [(ngModel)]="book.authors"
                [ngbTypeahead]="searchAuthor"
                (focus)="focusAuthor$.next($event.target.value)"
                (click)="clickAuthor$.next($event.target.value)"
                #instance="ngbTypeahead"
              />
      </div>
    </div>

    <div class="form-group row">
      <label  class="col-2 col-form-label" >Cena:</label>
      <div class="col-10">
        <input class="form-control" type="number" value="42"  [(ngModel)] = "book.price">
      </div>
    </div>

    <div class="form-group row">
      <label  class="col-2 col-form-label">Data wydania:</label>
      <div class="col-10">
        <input class="form-control" type="text" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"/>
        <!-- <button (click)="d.toggle()">Toggle</button> -->
      </div>
    </div>

    <div class="form-group row">
        <label  class="col-2 col-form-label" >Ilość:</label>
        <div class="col-10">
          <input class="form-control" type="number" [(ngModel)] = "book.amount">
        </div>
      </div>

      <div class="form-group row">
          <label class="col-2 col-form-label" >Opis:</label>
          <div class="col-10">
            <textarea class="form-control" cols="30" rows="10" [(ngModel)] = "book.description"></textarea>
          </div>
        </div>

    <button class="btn btn-primary" (click)= "save()"> Zapisz </button>
  </div>
</div>
