<div class="container my-2 mx-auto">
  <div class="row">
    <div *ngFor="let book of books" class="col-md-4 box-shadow my-1">
      <div class="card text-center">
        <div class="card-body">
            <img style="width: 200px; height: 300px" src="{{book.cover}}" class="card-img-top">
            <span class="card-text">
              <h3>
                {{book.title}}
              </h3>
              {{book.authors}}
            </span>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group col-md-10">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToBucket(book)">Dodaj do koszyka</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/book" >Zobacz</button>
              </div>
              <small class="text-muted">{{book.price}} PLN</small>
            </div>
          </div>
      </div>
      <span class="badge badge-secondary" [hidden]="!ifAdded(book.isbn)">
        Dodano do koszyka~
      </span>

    </div>
  
  </div> 
</div>